<div class ="center jumbotron">
    <h1> Welcome to OnAir </h1>
    <h2>
      This is the home page for the
      <a href=""> for my social messaging application </a>
    </h2>
    <%= link_to "Sign up on now!",  signup_path, class: "btn btn-lg btn-primary" %>
</div>