<% provide(:title, "Edit") %>
<% provide(:submit_btn_text, "Save changes") %>
<h1> Edit Profile </h1>
<div class = "row">
  <div class = "col-md-6 col-md-offset-3">
    <%= render 'profile_info_form' %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="https://gravatar.com/email" target="_blank" rel="noopeer">change</a>
    </div>
  </div>
</div>