<% provide(:title, "About") %>
<h1> About OnAir </h1>
<p>
  Welcome to my project. This is a social messaging appilication. It's not social media; you are anonmyous and the conversations
  are short lived. It's not private messageing; you are anonmyous and messages are visible to everyone else -- much like posts.
  In one sentence: <b> See what people around you are talking about -- <i>join the conversation. </i></b>
</p>